.data{
    background-color: rgb(255, 255, 255);
}

.data-changed {
    animation-name: example;
    animation-duration: 0.5s;
    border-radius: .25em;

    @keyframes example {
        0%   {background-color: rgb(255, 255, 255);}
        
        50%  {background-color:#CDB79E; left:200px; top:200px;}
       
        100% {background-color: rgb(255, 255, 255);}
      }
}
