.game-row, .game-info {
    border: 3px solid rgb(228, 217, 217);
    transition: 0.2s ease-out;
    background-color: white;
    margin-bottom: 1em;
    > .ant-card-body{
        padding: 0px !important;
        padding-top: 10px!important;
        padding-left:10px !important;
        padding-right: 10px!important;
        padding-bottom: 5px !important;
    };

    &.live{
        animation: border-pulsate 2s infinite;

        @keyframes border-pulsate {
            0%   { border-color: rgb(255, 75, 75); }
            50%  { border-color: rgba(0, 255, 255, 0); }
            100% { border-color: rgb(255, 75, 75); }
     }
    }
}

.game-row:hover {
    background-color: rgb(228, 217, 217);
    cursor: pointer;
}

.score-center, .score-text-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 25px;
}

.score-text-center {
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.additional-info{
    text-align: center;
}

.header-wrapper {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
}
.header-info{
    
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.text-bold{
    font-weight: bold;
}

.game-set-container{
    max-height: 40vh;
    overflow-y: auto;
}
.stats-container{
    max-height: 60vh;
    overflow-y: auto;
}

.stats-button{
  
    font-weight: bold !important;
    height: 50px !important;
    width: 50px !important;

    &.positive {
        background-color: green;
        color: white; 
     }

     &.negative {
        background-color: red;
        color: white; 
     }
   
}